#navbar1 {
    /*background-color: #333; !* Black background color *!*/
    /*position: fixed; !* Make it stick/fixed *!*/
    top: 0; /* Stay on top */
    background-color: rgba(255, 255, 255, 0.9) !important;
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
}
.home-banner-blue{
    font-size: 1em;
    font-weight: 600;
    /*-webkit-text-stroke: 3px #00C8CC ;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #00C8CC !important;

}
.font-black{
    color: black!important;
}
.bg-main-color-blue{
    background: #00C8CC !important;
    box-shadow: 0 8px 32px 0 rgba(44, 44, 47, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    /*border-radius: 10px;*/
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}