@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: "poppins-bold", sans-serif !important;*/
    font-family: "Segoe UI", Arial, sans-serif;
    /*overflow-x: hidden;*/
    /*font-size: 1rem;*/
}

/*------------------------------------*/
nav {
    background-color: transparent !important;

}

nav a {
    color: #ffffff;
}

nav.navbar.shrink {
    min-height: 35px;
    background-color: #ffffff !important;

}

nav.navbar.shrink a {
    color: #000000;
}

/*nav.shrink a{*/
/*    padding-top: -20px !important;*/
/*    padding-bottom: -20px !important;*/
/*    font-size: 15px;*/
/*    background-color: red !important;*/
/*    color: green !important;*/
/*}*/

nav.shrink .navbar-brand {
    /*font-size: 25px;*/
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}


/*------------------------------------*/


body {
    overflow-x: hidden !important;
}

/*general*/
/*Buttons------------*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(255, 255, 255),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.light-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.light-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.light-button:before,
.light-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #00C8CC;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.light-button:before {
    height: 0%;
    width: 2px;
}

.light-button:after {
    width: 0%;
    height: 2px;
}

.light-button:hover {
    color: #00C8CC;
    background: transparent;
}

.light-button:hover:before {
    height: 100%;
}

.light-button:hover:after {
    width: 100%;
}

.light-button span:before,
.light-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.light-button span:before {
    width: 2px;
    height: 0%;
}

.light-button span:after {
    height: 2px;
    width: 0%;
}

.light-button span:hover:before {
    height: 100%;
}

.light-button span:hover:after {
    width: 100%;
}

/*.bg-services {*/
/*    background-color: #006289 !important;*/
/*}*/

.breadcrumb-item-list:hover, .breadcrumb-item-list:focus {
    text-decoration: none;
    color: #0284e2 !important;
}

.active-tab {
    color: #00C8CC !important;
}


.nav-space {
    margin-top: 10vh !important;
}

.custom-btn-dark {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(100, 224, 224),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(9, 0, 0, 0.1);
    outline: none;
}

.dark-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.dark-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.dark-button:before,
.dark-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #0a6769;
    box-shadow: -7px -7px 20px 0px rgb(5, 79, 79),
    -4px -4px 5px 0px rgb(5, 68, 68),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.dark-button:before {
    height: 0%;
    width: 2px;
}

.dark-button:after {
    width: 0%;
    height: 2px;
}

.dark-button:hover {
    color: #00C8CC;
    background: transparent;
}

.dark-button:hover:before {
    height: 100%;
}

.dark-button:hover:after {
    width: 100%;
}

.dark-button span:before,
.dark-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow: /*-7px -7px 20px 0px rgba(255,255,255,.9),*/ /*-4px -4px 5px 0px rgba(255,255,255,.9),*/ 7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.dark-button span:before {
    width: 2px;
    height: 0%;
}

.dark-button span:after {
    height: 2px;
    width: 0%;
}

/*-------/Buttons------------*/
/*----breadcrumb-------*/
.home-banner-blue {
    font-size: 1em;
    font-weight: 600;
    /*-webkit-text-stroke: 3px #00C8CC ;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #00C8CC !important;

}


.first a:hover {
    color: #ffffff !important;
}

.active-1 {
    color: #ffffff !important;
}


.breadcrumb > li + li:before {
    content: "" !important;
}

.breadcrumb {
    padding: 19px;
    font-size: 14px;
    color: #00C8CC !important;
    letter-spacing: 2px;
    border-radius: 5px !important;
}


a {
    text-decoration: none !important;
    /*color: #00C8CC!important;*/
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}


.fa-caret-right {
    vertical-align: middle;
    font-size: 20px !important;
}

@media (max-width: 767px) {
    .breadcrumb {
        font-size: 10px;

    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: 0;
    }

    .breadcrumb {
        letter-spacing: 1px !important;
    }

    .fa-caret-right:before {
        content: "\f0da";
        vertical-align: super !important;

    }
}

/*----/breadcrumb-------*/


.topics {
    font-weight: 700;
    font-size: 32px !important;
    color: #1a1e21;
}

.text-rotateX {
    transform: rotateX(360deg);
    transition: 5s;
    transform-style: preserve-3d;
    position: relative;

}

a, a:hover {
    text-decoration: none;
}

.sub-details {
    /*font-family: 'Saira', sans-serif !important;*/
    /*font-weight: 500;*/
    /*font-size: 18px;*/

}

/*navBar*/
.active1 {
    color: #109E92 !important;
}

.nav-link {

    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 500;
    /*font-size: 20px ;*/
}

.nav-link:hover {
    color: #00C8CC !important;
    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 500;
    /*font-size: 20px;*/
}

.navbar-toggler {
    color: #00C8CC !important;
}

.navbar-toggler-icon {
    background-image: url("../src/images/menu.png") !important;
}

#navbar {
    /*background-color: #333; !* Black background color *!*/
    /*position: fixed; !* Make it stick/fixed *!*/
    top: 0; /* Stay on top */
    background-color: rgba(0, 0, 0, 0.75);
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
}

/*Home page*/
/*Hero Banner*/
.counter {
    display: table-cell;
    margin: 1.5%;
    font-size: 2em;

}

/*#home-cover {*/
/*    !*background-image: url("../src/images/technology-binary-number-programming-wallpaper-2560x720_72.jpg");*!*/
/*    !*min-height: 100vh;*!*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/
.home-sub-topic {
    /*font-family: 'Saira', sans-serif !important;*/
    font-size: 3.5em;
    font-weight: 600;
    /*color:  white !important;*/
}

.home-banner-It {
    font-size: 2.5em;
    font-weight: 600;
    -webkit-text-stroke: 3px #00C8CC;
    -webkit-text-fill-color: transparent;
    /*font-family: 'Saira', sans-serif !important;*/

}

.services-logo {
    width: 20% !important;

}

@keyframes zoom {
    from {
        transform: scale(0.8, 0.8);
    }
    to {
        transform: scale(1, 1);
    }
}

.cover-img {
    -webkit-animation: zoom 20s; /* Chrome, Safari, Opera */
    animation: zoom 20s;
    display: block;
    overflow: hidden;
}


/*About Us*/


/*Our Flagship*/
.vertical-line {
    width: 5px;
    height: 50px;
    background-color: #00C8CC;
}

.parallax {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(188, 113, 225, 0.3), rgba(52, 4, 65, 0.76)), url("../src/images/technology-binary-number-programming-wallpaper-2560x720_72.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.down-arrow {
    transition: all 1s ease-in-out !important;
}

.down-arrow:hover {
    scale: 1.5;
    transition: all 1s ease-in-out !important;
}

.down-arrow :active {
    scale: 1;
}

/*Services*/
/*owl-dots{*/
/*    text-align: center;*/
/*    !*margin-top: 40px;*!*/
/*}*/
/*.owl-dot{*/
/*    height: 15px;*/
/*    width: 20px;*/
/*    margin: 0 5px;*/
/*    outline: none;*/
/*    border-radius: 14px;*/
/*    border: 2px solid #00C8CC!important;*/
/*    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);*/
/*    transition: all 0.3s ease;*/
/*}*/
/*.owl-dot.active,*/
/*.owl-dot:hover{*/
/*    background: linear-gradient(0deg, #00C8CC 0%, #0baee8 100%) !important;*/
/*}*/


/*why Choose us*/
.flipPreview {
    animation-name: flip;
    /*animation-duration: 1s;*/
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.flip-container {
    width: 100%;
    height: 250px;
}

.flip-container .card {
    width: 100%;
    height: 100%;
}

.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flip {
    transform: rotateY(180deg);

}

.flip-container .flip {
    width: 100%;
    height: 100%;
}

.flip-container .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container .flip .flip-front {
    z-index: 2;
    transform: rotateY(0deg);
    background: rgba(21, 1, 1, 0.22);
    box-shadow: 0 8px 32px 0 rgba(62, 65, 110, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    /*border: 3px solid #00C8CC !important;*/
}

.flip-container .flip .flip-back {
    transform: rotateY(180deg);
    color: black !important;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(62, 65, 110, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.flip-container .flip .flip-front, .flip-container .flip .flip-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}


/*Projects*/

.project-card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 300px;
    height: auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .project-card {
        min-height: 350px;
    }
}

@media (max-width: 420px) {
    .project-card {
        min-height: 300px;
    }
}

.project-card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.project-card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    /*-ms-filter: grayscale(100%);*/
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.project-card.card-has-bg:hover .card-img-overlay {
    /*transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);*/
    /*background: #234f6d;*/
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgb(0, 14, 75) 100%);
    transition: 0.7s;
}

/*.project-card .card-footer {*/
/*    background: none;*/
/*    border-top: none;*/
/*}*/
.project-card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}

.project-card .card-meta {
    color: #00a4df;
    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 300;
    font-size: 14px;
}

.project-card .card-heading {
    color: #ffffff;
    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 600;
    font-size: 20px;
    text-decoration: none !important;
}

.project-card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.project-card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.project-card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.project-card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #00a4df;
    background: linear-gradient(0deg, rgba(0, 164, 223, 0.37) 0%, rgb(0, 14, 75) 100%);
}


/*Contact Form*/
.sm-outer-box {
    border: 1px white solid;
    border-radius: 5px;
    transition: all 1s ease-in-out !important;
}

.sm-outer-box:hover {
    background-color: #00C8CC;
    transform: rotate(360deg);
}

.contact-form-body {

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(62, 65, 110, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

.label-txt {
    /*position: absolute;*/
    top: -1.6em;
    padding: 10px;
    /*font-family: sans-serif;*/
    font-size: .8em;
    letter-spacing: 1px;
    /*color: rgb(255, 255, 255) ;*/
    transition: ease .3s;
}

.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white !important;
}

.input-light {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    /*color: white!important;*/
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: rgba(155, 155, 155, 0.55);
}

.line {
    width: 0%;
    height: 1px;
    transform: translateX(0px);
    background: #00C8CC;
    transition: ease .6s;
}

.input:focus + .line-box .line {
    width: 100%;
}

.label-active {
    color: #00C8CC !important;
}

.contact-form * {
    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 500;
    font-size: 20px;
}


/*Footer*/

.bg-logo {
    /*background: rgba( 255, 255, 255, 0.7 );*/
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.bg-main-color {
    background-color: rgba(0, 200, 204, 0.1) !important;

}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.76);
}

.bg-flagship {
    background-image: linear-gradient(0deg, rgba(49, 110, 105, 0.8), rgba(1, 13, 47, 0.9)), url("../src/images/flagship-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-features {
    background-image: linear-gradient(0deg, rgba(113, 144, 225, 0.3), rgba(4, 20, 65, 0.76)), url("../src/images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-solutions {
    background-image: url("../src/images/bg-images/geometric_abstract_background_with_connected_dots_and_lines.jpg");

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bg-expert {
    background-image: linear-gradient(0deg, rgba(49, 110, 105, 0.8), rgba(1, 13, 47, 0.9)), url("../src/images/bg-images/futuristic-smart-city-with-5g-global-network-technology copy.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-solutions-page {
    background-image: url("../src/images/bg-images/4887489.jpg");

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-projects {
    background-image: url("../src/images/shape-4.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}

.bg-card1 {
    /*background-image: url("../src/images/pattern-7.png");*/
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    /*border: 5px #ffffff solid !important;*/
    color: white !important;

}

.bg-card2 {
    background-image: url("../src/images/pattern-7.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}

.sub-topics {
    border-bottom: 1px solid #00C8CC;
    color: #00C8CC;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: capitalize;
    text-align: center;
}

.topic-2 {

    color: #00C8CC;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: capitalize;
    text-align: center;
}

.bg-cover {
    background-image: linear-gradient(0deg, rgba(113, 144, 225, 0.3), rgba(4, 20, 65, 0.76)), url("../src/images/cover1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*height: 100vh;*/
}

.bg-cover-sub {
    /*background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.63)), url("../src/images/pattern-8.png");*/
    background-color: rgba(4, 21, 70, 0.84) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.bg-main-cover {
    background-image: url("../src/images/307193.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-contact {
    background-image:linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.82)), url("../src/images/bg-images/businessman-pointing-his-presentation-futuristic-digital-screen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*.cover-img{*/
/*    animation: scale 10s linear infinite;*/
/*}*/

.bg-Welcome {
    background-image: url("../src/images/pattern-7.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: left;
}

.bg-Welcome-r {
    background-image: url("../src/images/pattern-7-r.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: right !important;

}


.container-parallax {

    background-attachment: fixed;
}

.item {
    display: flex;
    max-width: 320px;
    background-color: white;;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}


/*footer*/
footer * {
    /*font-family: 'Saira', sans-serif !important;*/
    /*font-weight: 500;*/
    /*font-size: 20px;*/
}

.footer-logo {
    width: 30%;
    height: auto;
}

.horizontal-line {
    width: auto;
    height: 0.5px;
    background-color: rgba(155, 155, 155, 0.55);
}

.copyRight {
    font-size: 0.8em;
    background-color: rgb(0, 0, 0);
}


/*=========About Us Page============*/

/*cover banner*/
.sub-cover {
    height: 50vh;
}

.sub-cover-topic {
    color: #00C8CC !important;
    font-size: 4rem !important;
    font-weight: 600;
}

/*test*/

.testimonial-card {
    position: relative;
    /*margin-top: 30px;*/
}

.testimonial-card .owl-stage-outer {
    padding: 30px 0;
}

.testimonial-card .owl-nav {
    display: none;
}

.testimonial-card .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #00C8CC;
    margin: 0 5px;
}

.testimonial-card .owl-dots .active {
    box-shadow: none;
}

.testimonial-card .owl-dots .active span {
    background: white !important;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.testimonial-card .card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 200, 204, 0.16);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /*box-shadow: 0 8px 30px -7px #c9dff0;*/
    /*margin: 0 20px;*/
    padding: 0 10px;
    /*border-radius: 20px;*/
    /*border: 0;*/
}

.testimonial-card .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.testimonial-card .card h5 {
    color: #00C8CC;
    font-size: 18px;
    line-height: 1.3;
}

.testimonial-card .card h5 span {
    font-size: 16px;
    color: rgba(255, 255, 255);
}

.testimonial-card .card p {
    font-size: 18px;
    color: rgba(255, 255, 255);;
}

.testimonial-card .active {
    opacity: 0.3;
    transition: all 0.1s;
}

.testimonial-card .center {
    opacity: 1;
}


.testimonial-card .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}

/*@media (max-width: 767px) {*/
/*    .testimonial-card {*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}

.owl-carousel button.owl-dot {
    outline: 0;
}

/*-----------------------*/
.profile-card {
    position: relative;
    overflow: hidden;
    /*margin-bottom:10px;*/
    /*box-shadow:0px 2px 3px #222;*/
    /*top:150px;*/
}

.profile-card:hover .profile-img img {
    transform: scale(1.2);
}

.profile-card .profile-img img {
    width: 100%;
    height: auto;
    transition: transform 1s;
}

.profile-card .profile-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 3px solid #00C8CC;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: scale(1, 1);
    transition: all 0.50s linear;
}

.profile-card .profile-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 40%;
    border: 3px solid #00C8CC;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: all 0.50s linear;

}

.profile-card:hover .profile-content:before {
    top: 20px;
    left: 20px;
}

.profile-card:hover .profile-content:after {
    bottom: 20px;
    right: 20px;
}

.profile-card .profile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50% 4%;
    text-align: center;

}

.profile-card .profile-content:hover {
    background-color: rgba(0, 3, 3, 0.61);
}

.profile-card .profile-content .title {
    font-size: 24px;
    color: #00C8CC;
    opacity: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(-100px);
    transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .title {
    opacity: 1;
    transform: translateY(0);
}

.profile-card:hover .title::after {
    content: "";
    display: block;
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #00c8cc;
}

.profile-card .profile-content .title > span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: white !important;
    text-transform: capitalize;
}

.profile-card .profile-content .team-detail {

    padding: 0;
    opacity: 0;
    transform: translateY(130px);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .team-detail {
    opacity: 1;
    transform: translateY(0);
}

/*----------------------------*/


/*-----------*/
.features-logo {
    width: 100px !important;
    height: auto;
}

/*------Services Page----------*/
.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.solution_card {
    flex: 0 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 1s ease-in-out !important;
    background: linear-gradient(308deg, #0c7ca9, #072c3a);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    box-shadow: 0 8px 32px 0 rgba(155, 155, 155, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.solution_card:hover {
    background: rgb(255, 255, 255);
    color: rgba(4, 21, 70, 0.84) !important;
    transform: scale(1.1);
    z-index: 9;
    transition: all 0.5s ease-out  !important;
    cursor: pointer !important;
}

.solution_card:hover .solu_description button {
    background: #fff !important;
    color: #00c8cc;
}

.solution_card:hover .solu_title h3, .solution_card:hover .solu_description p {
    color: rgba(4, 21, 70, 0.84) !important;
}

.solution_card .solu_title h3 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #ffffff;
}

.hover_color_bubble {
    position: absolute;
    background: rgba(0, 200, 204, 0.06);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_card:hover .so_top_icon {
    transform: rotate(360deg) !important;
    background: none !important;
    transition: all 1s ease-in-out !important;
}

.solution_card .so_top_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*background: #fff;*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_card .so_top_icon img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 1s ease-in-out !important;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}


.sub-contact {
    color: #00C8CC !important;
}

/*Contact Page*/

.sm-box {

    background: linear-gradient(308deg, #0c7ca9, #072c3a);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    border-radius: 5px;
    transition: all 1s ease-in-out !important;
}

.sm-box:hover {
    background: #00C8CC !important;
    transform: rotate(360deg);
}

.contact-topics {
    font-weight: 700;
    font-size: 24px !important;
}

.counter-sub-logo {
    width: 100px !important;
    height: auto;
}

/*career*/

.job-card {
    border: rgba(255, 255, 255, 0.9) 1px solid !important;
}

.job-card:hover {
    scale: 1.02;
    transition: 1s;
    border: #00C8CC 1px solid !important;
}


/*what we offer*/
.what-we-offer-card {
    /*background: rgba(9, 0, 0, 0.25);*/
    box-shadow: 0 8px 32px 0 rgba(155, 155, 155, 0.1) !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    border-bottom: 3px solid #00C8CC !important;
    border-top: 3px solid #00C8CC !important;
    border-left: 0px solid #00C8CC !important;
    border-right: 0px solid #00C8CC !important;
    /*border-image: linear-gradient(308deg, #0c7ca9, #072c3a) 90 !important;*/
    border-radius: 5% !important;
    transition: 1s;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

.what-we-offer-card:hover {
    /*scale: 103%;*/
    /*transform: rotateY(180deg);*/
    /*background-color: #006289 !important;*/
    transition: ease-in-out 0.2s;


    /*background: linear-gradient(308deg, #0c7ca9, #072c3a);*/
    /*background-size: 400% 400%;*/

    /*-webkit-animation: AnimationName 7s ease infinite;*/
    /*-moz-animation: AnimationName 7s ease infinite;*/
    /*-o-animation: AnimationName 7s ease infinite;*/
    /*animation: AnimationName 7s ease infinite;*/
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

/*clients*/


.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*-----------------*/

.bg-model {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.90) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.42);
}

.modal-dialog {
    max-width: unset !important;
}

.services-content-fc {
    color: #1a1e21;
}

.services-topic-fc {
    color: #006289 !important;
}

.what-we-offer-card:hover .services-topic-fc {
    color: #00C8CC !important;
}

.what-we-offer-card:hover .services-content-fc {
    color: #ffffff !important;
}


label {
    color: #333;
    margin: 20px 0px;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    /*margin-top: 5px;*/

}

.contact-form-card {
    margin-left: 10px;
    margin-right: 10px;
}

#foo {
    position: fixed;
    bottom: 0;
    right: 10%;
}


.bg-services {
    background: linear-gradient(308deg, #0c7ca9, #072c3a);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

/*footer*/
.footer-nav {
    color: #1a1e21;
}

.footer-nav :hover {
    color: #00C8CC;
}