@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


/*General Styles*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;

}

body {
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

a, a:hover {
    text-decoration: none;
}

.container-parallax {
    background-attachment: fixed;
}

.topics {
    font-weight: 700;
    font-size: 32px !important;
    color: #1a1e21;
}

.sub-topics {
    border-bottom: 1px solid #00C8CC;
    color: #00C8CC;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: capitalize;
    text-align: center;
}


/*rotate animation*/
.text-rotateX {
    transform: rotateX(360deg);
    transition: 5s;
    transform-style: preserve-3d;
    position: relative;

}

/*navigation*/
nav {
    background-color: transparent !important;
}

nav a {
    color: #ffffff;
}

nav.navbar.shrink {
    min-height: 35px;
    background-color: #ffffff !important;
}

nav.navbar.shrink a {
    color: #000000;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

.active1 {
    color: #109E92 !important;
}

.nav-link {

    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 500;
    /*font-size: 20px ;*/
}

.nav-link:hover {
    color: #00C8CC !important;
    /*font-family: 'Saira', sans-serif !important;*/
    font-weight: 500;
    /*font-size: 20px;*/
}

.navbar-toggler {
    color: #00C8CC !important;
}

.navbar-toggler-icon {
    background-image: url("../src/images/menu.png") !important;
}

#navbar {
    /*background-color: #333; !* Black background color *!*/
    /*position: fixed; !* Make it stick/fixed *!*/
    top: 0; /* Stay on top */
    background-color: rgba(0, 0, 0, 0.75);
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
}

.bg-logo {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

/*breadcrumb*/
.breadcrumb-item-list:hover, .breadcrumb-item-list:focus {
    text-decoration: none;
    color: #0284e2 !important;
}

.active-tab {
    color: #00C8CC !important;
}

.nav-space {
    margin-top: 10vh !important;
}

@media (max-width: 767px) {
    .breadcrumb {
        font-size: 10px;

    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: 0;
    }

    .breadcrumb {
        letter-spacing: 1px !important;
    }

    .fa-caret-right:before {
        content: "\f0da";
        vertical-align: super !important;

    }
}


/*Buttons------------*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(255, 255, 255),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.light-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.light-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.light-button:before,
.light-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #00C8CC;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.light-button:before {
    height: 0%;
    width: 2px;
}

.light-button:after {
    width: 0%;
    height: 2px;
}

.light-button:hover {
    color: #00C8CC;
    background: transparent;
}

.light-button:hover:before {
    height: 100%;
}

.light-button:hover:after {
    width: 100%;
}

.light-button span:before,
.light-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.light-button span:before {
    width: 2px;
    height: 0%;
}

.light-button span:after {
    height: 2px;
    width: 0%;
}

.light-button span:hover:before {
    height: 100%;
}

.light-button span:hover:after {
    width: 100%;
}

.custom-btn-dark {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgb(100, 224, 224),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(9, 0, 0, 0.1);
    outline: none;
}

.dark-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.dark-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.dark-button:before,
.dark-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #0a6769;
    box-shadow: -7px -7px 20px 0px rgb(5, 79, 79),
    -4px -4px 5px 0px rgb(5, 68, 68),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.dark-button:before {
    height: 0%;
    width: 2px;
}

.dark-button:after {
    width: 0%;
    height: 2px;
}

.dark-button:hover {
    color: #00C8CC;
    background: transparent;
}

.dark-button:hover:before {
    height: 100%;
}

.dark-button:hover:after {
    width: 100%;
}

.dark-button span:before,
.dark-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow: /*-7px -7px 20px 0px rgba(255,255,255,.9),*/ /*-4px -4px 5px 0px rgba(255,255,255,.9),*/ 7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.dark-button span:before {
    width: 2px;
    height: 0%;
}

.dark-button span:after {
    height: 2px;
    width: 0%;
}

/*-------/end-Buttons------------*/

/*breadcrumb*/
.breadcrumb-item-list:hover, .breadcrumb-item-list:focus {
    text-decoration: none;
    color: #0284e2 !important;
}

.active-tab {
    color: #00C8CC !important;
}

.first a:hover {
    color: #ffffff !important;
}

.active-1 {
    color: #ffffff !important;
}

.breadcrumb > li + li:before {
    content: "" !important;
}

.breadcrumb {
    padding: 19px;
    font-size: 14px;
    color: #00C8CC !important;
    letter-spacing: 2px;
    border-radius: 5px !important;
}


/*end-breadcrumb*/

/*footer*/

.footer-logo {
    width: 30%;
    height: auto;
}

.horizontal-line {
    width: auto;
    height: 0.5px;
    background-color: rgba(155, 155, 155, 0.55);
}

.footer-heading {
    color: #00C8CC !important;
}

.copyRight {
    font-size: 0.8em;
    background-color: rgb(0, 0, 0);
}


/*Home-page*/
.home-banner-blue {
    font-size: 1em;
    font-weight: 600;
    color: #00C8CC !important;
}

.home-sub-topic {
    font-size: 3.5em;
    font-weight: 600;
}

/*section-aboutUs*/
.bg-aboutUs {
    background-image: linear-gradient(0deg, rgba(49, 110, 105, 0.8), rgba(1, 13, 47, 0.9)), url("../src/images/flagship-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Professional-approach-text {
    color: #00C8CC;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: capitalize;
    text-align: center;
}

/*section-solutions*/
.bg-solutions {
    background-image: url("../src/images/bg-images/geometric_abstract_background_with_connected_dots_and_lines.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*AboutUs-page*/
.bg-pattern-aboutUs {
    background-image: url("../src/images/pattern-7.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: left;
}

/*section-ourTeam*/
.bg-OurTeam {
    background-image: linear-gradient(0deg, rgba(49, 110, 105, 0.8), rgba(1, 13, 47, 0.9)), url("../src/images/bg-images/futuristic-smart-city-with-5g-global-network-technology copy.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Solutions-page*/
/*section-solutions*/
.bg-solutions-box {
    background-image: url("../src/images/bg-images/4887489.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Careers-page*/
/*section-join-our-team*/
.bg-join-our-team {
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.82)), url("../src/images/bg-images/businessman-pointing-his-presentation-futuristic-digital-screen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*ContactUs-page*/
/*section-contactForm*/
.bg-ContactForm-section {
    background-image: url("../src/images/shape-4.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}