/*body {*/
/*    background-color: #eee;*/
/*    padding: 2em;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
svg {
    fill: currentColor;
}

/*.choose-us-card-title {*/
/*    color: #00C8CC !important;*/
/*}*/
.flipPreview {
    animation-name: flip;
    /*animation-duration: 1s;*/
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}
.flip-container {
    width: 100%;
    height: 300px;
}
.flip-container .card {
    width: 100%;
    height: 100%;
}
.flip-container {
    perspective: 1000px;
}
.flip-container:hover .flip {
    transform: rotateY(180deg);

}
.flip-container .flip {
    width: 100%;
    height: 100%;
}
.flip-container .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.flip-container .flip .flip-front {
    z-index: 2;
    transform: rotateY(0deg);
}
.flip-container .flip .flip-back {
    transform: rotateY(180deg);
}
.flip-container .flip .flip-front, .flip-container .flip .flip-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}


/*our Project*/
#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
    font-size:50px;
    margin-bottom:15px;
    color:#FFF;
    line-height:100%;
    letter-spacing:0.5px;
    font-weight:600;
}
#myCarousel p{
    font-size:18px;
    margin-bottom:15px;
    color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;}
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
    opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
    .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}


/**************************************************/

.project-card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 300px;
    height: auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .project-card {
        min-height: 350px;
    }
}
@media (max-width: 420px) {
    .project-card {
        min-height: 300px;
    }
}
.project-card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}
.project-card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.project-card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.project-card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 1) 100%);
}
.project-card .card-footer {
    background: none;
    border-top: none;
}
.project-card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}
.project-card .card-meta {
    color: #00a4df;
    font-family: 'Saira', sans-serif !important;
    font-weight: 300;
    font-size: 14px;
}
.project-card .card-heading {
    color: #ffffff;
    font-family: 'Saira', sans-serif !important;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none!important;
}
.project-card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.project-card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.project-card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.project-card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #00a4df;
    background: linear-gradient(0deg, rgba(0, 164, 223, 0.37) 0%, rgba(0, 0, 0, 0.91) 100%);
}

/*counter***********/
.counter {
    display: table-cell;
    margin:1.5%;
    font-size:2em;

}
/*-------------btn*/

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgb(255, 255, 255),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.light-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.light-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.light-button:before,
.light-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #00C8CC;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.light-button:before{
    height: 0%;
    width: 2px;
}
.light-button:after {
    width: 0%;
    height: 2px;
}
.light-button:hover{
    color: #00C8CC;
    background: transparent;
}
.light-button:hover:before {
    height: 100%;
}
.light-button:hover:after {
    width: 100%;
}
.light-button span:before,
.light-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.light-button span:before {
    width: 2px;
    height: 0%;
}
.light-button span:after {
    height: 2px;
    width: 0%;
}
.light-button span:hover:before {
    height: 100%;
}
.light-button span:hover:after {
    width: 100%;
}


.custom-btn-dark {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgb(100, 224, 224),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.dark-button {
    background: linear-gradient(0deg, #00C8CC 0%, #00C8CC 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.dark-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.dark-button:before,
.dark-button:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #0a6769;
    box-shadow:
            -7px -7px 20px 0px rgb(100, 224, 224),
            -4px -4px 5px 0px rgb(100, 224, 224),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.dark-button:before{
    height: 0%;
    width: 2px;
}
.dark-button:after {
    width: 0%;
    height: 2px;
}
.dark-button:hover{
    color: #00C8CC;
    background: transparent;
}
.dark-button:hover:before {
    height: 100%;
}
.dark-button:hover:after {
    width: 100%;
}
.dark-button span:before,
.dark-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #00a4df;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.dark-button span:before {
    width: 2px;
    height: 0%;
}
.dark-button span:after {
    height: 2px;
    width: 0%;
}


